<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
 <link href="../static/css/font-awesome/css/font-awesome.min.css " rel="stylesheet" type="text/css">
 <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body id="myPage" data-spy="scroll"  data-offset="30">
<nav class="navbar navbar-fixed-top navbar-custom" role="navigation">
  <div class="container header">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">User Dashboard</a>
   </div>
  </div>
</nav>
<br>
<br>
<br>

<div class="username" id="username">  
	   {% for row in response1 %}
	&nbsp;&nbsp;  Welcome, {{row[1]}} 

 
</div>
               
            
<br>
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
<div class="panel panel-upvotes">
<div class="panel-heading">
<span class="glyphicon glyphicon-thumbs-up glyphicon-thumbs-up-md" aria-hidden="true"></span><b> UpVotes</b>
</div>
<div class="panel-body upvotes"><b>{{row[4]}}</b></div>
</div>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-downvotes">
<div class="panel-heading">
<span class="glyphicon glyphicon-thumbs-down glyphicon-thumbs-down-md" aria-hidden="true"></span><b> DownVotes</b>
</div>
<div class="panel-body downvotes"><b> {{row[2]}}  </b></div>
</div>
</div>
{% endfor %}

<div class="col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-reputation">
{% for num in response5 %}
<div class="panel-heading"><b>Reputation </b></div>
<div class="panel-body reputation"><b> {{num[0]}}  </b></div>
{% endfor %}
</div>
</div>

        
        
<div class="well toptags col-sm-2 col-md-2 col-lg-2">
<b>Favorite Tags</b><br>
{% for num in response2 %}
<h4><i class="fa fa-tag" aria-hidden="true"></i> {{num[0]}}</h4>
   {% endfor %}
</div>
</div>



<div class="row">
<div class="well quest col-md-7 col-lg-7 col-md-offset-1 col-lg-offset-1">
<b> Recommended Questions</b>
{% for num in response3 %}
<li><h4>{{num[0]}}<h4></li>
{% endfor %}
</div>
     
<div class = "well trendtag col-sm-3 col-md-3 col-lg-3">
<b>Trending Tags</b>
<table class="table">
<thead>
<tr><th>TagName</th><th>Count</th></tr></thead><tbody class="content">
{% for tag in response4 %}
<tr><td>{{tag.tagname}}</td><td>{{tag.count}}</td></tr>
{% endfor %}
</tbody>
</table>
</div>             
               
               
                 


</body>
</html>


